.overflow-styles {
    overflow: scroll;
}

.overflow-styles::-webkit-scrollbar {
    width: 5px;
}

.overflow-styles::-webkit-scrollbar-track {
    background: none;
}

.overflow-styles::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;

}

.dropdown-toggle::after {
    display:none;
}

.show-left {
    animation-name: showLeft;
    animation-duration: .2s;
}

@keyframes showLeft {
    
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translate(0px);
    }
}


.show-right {
    animation-name: showRight;
    animation-duration: .2s;
}

@keyframes showRight {
    
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translate(0px);
    }
}